<!DOCTYPE html>
<html>
<head>
  <title>Leslie Avelyn Nazareth</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Niconne|Tangerine" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<header class="jumbotron site-header">
  <div class="container-fluid">
    <h2 id="tribute-text">A tribute to a loving husband, dad, grandad, and great grandad</h2>
    <div class="row">
      
       <div class=" info col-md-4 col-md-push-4">
          <%= image_tag("portrait.jpg", :class => "portrait", :width => "25%", :alt => "Leslie Avelyn Nazareth") %>
          <h1 class="name">Leslie Avelyn Nazareth</h1>
          <h2 class="date">19/08/1921 - 26/12/2017</h2>
      </div>
      
      <div class="poem-1 col-md-4 col-md-pull-4">
          Dad, we don’t think of you as gone away</br>
          As your journey’s just begun,</br>
          Life holds so many facets</br>
          This earth is only one.</br> </br>
          
          We just think of you as resting</br>
          In a place of warmth and peace</br>
          Where there are no days and years</br>
          And neither sadness and tears.</br> </br>
          
          Dad you were always kind and caring</br>
          And so understanding too</br>
          And if help was ever needed Dad</br>
          It always came from you.</br> </br>
          
          How we wish that you could know today</br>
          How great is our sadness</br>
          That you have passed away.</br> 
      </div>
      
      
      <div class="poem-2 col-md-4 col-md-4">
          We will always think of you as living</br>
          In the hearts of those you touched</br>
          For nothing loved is ever lost</br>
          And you were loved so much.</br> </br>
          
          Your life well lived ls a legacy </br>
          Of joy and pride and pleasure </br>
          A living lasting memory </br>
          Our grateful hearts will treasure </br></br>
          
          So rest in peace dearest Dad</br>
          And thank you for all you’ve done</br>
          As we pray to God to give you</br>
          The crown you’ve truly won.</br>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-3"></div>
      <div id="story" class="col-md-6">
      Leslie Nazareth was born  on Aug 19, 1921 to Peter and Ruby Nazareth. Leslie was raised first in Ghatkopar and then in Nazarene 
      Villa, Chembur,  along with his 6 siblings. He completed his studies in Sydenham College, Mumbai. He married his childhood 
      sweetheart, Dr. Olga DaCosta in 1949 and celebrated their Golden wedding anniversary in Chennai in 1999 along with their 3
      children Carol/David Edwin/Susan and Adrian/Zelia
      and two grand children Sarah and Rohit. After a very long career with Shaw Wallace he retired at the young age of 55
      to do social and  charitable work. Leslie was known for his wit and great sense of humour. He had several interests but
      was passionate about golf and bridge. He spent the last last 2.5 years of his life with his youngest child Adrian in Canada 
      where he died peacefully on Dec 26, 2017.
    </div>
    <div class="col-md-3"></div>
    </div>
    
    
    
    <div class="container">
        <%= image_tag("20.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("21.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("22.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("23.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("24.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("25.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("26.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("27.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("28.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("29.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("30.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("31.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("32.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("33.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("34.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("35.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("36.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("37.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("38.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("39.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("40.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("41.jpg", :class => "pics w3-animate-left") %>
      
        <%= image_tag("17.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("18.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("19.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("11copy.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("12copy.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("13copy.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("14copy.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("10.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("16.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("1.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("2.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("3.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("4.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("5.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("6.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("7.jpg", :class => "pics w3-animate-left") %>
        <%= image_tag("8.jpg", :class => "pics w3-animate-left") %>
    </div>
    
     <div class="controls container">
        <button class="w3-button w3-display-left" onclick="slideIncrement(-1)">&#10094;</button>
        <button class="w3-circle w3-black" onclick="togglePlayPause">||</button>
        <button class="w3-button w3-display-right" onclick="slideIncrement(1)">&#10095;</button>
    </div>
    
    <!--<div class="controls container">-->
    <!--  <%= audio_tag("song2.mp3", controls: true) %>-->
    <!--</div>-->
  </div>
</header>
  
<div class="container">
  <%= yield %>
</div>

</body>
</html>


<script>

  var slideIndex = 0;
  var playing = true;
  var slideInterval = setInterval(carousel,2500);
  
  
  function slideIncrement(n) {
    showSlide(slideIndex += n);
  }

  function showSlide(n) {
      var i;
      var x = document.getElementsByClassName("pics");
      if (n > x.length) {slideIndex = 0} 
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
          x[i].style.display = "none"; 
      }
      x[slideIndex-1].style.display = "block"; 
  }
  
  function pauseSlideShow() {
    playing = false;
    clearInterval(slideInterval);
  }
  
  function playSlideshow(){
  	playing = true;
  	slideInterval = setInterval(carousel,2500);
  }  

  function togglePlayPause() {
    if(playing){ pauseSlideshow(); }
    else{ playSlideshow(); }
  };
  
  function carousel() {
      var i;
      var x = document.getElementsByClassName("pics");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none"; 
      }
      slideIndex++;
      if (slideIndex > x.length) {slideIndex = 1} 
      x[slideIndex-1].style.display = "block"; 
  }
  
</script>